#header{
   .col-md-8{
       float: right;
   }
    h1{
        font-weight: 600;
    }
    .navbar{
        float: right;
        margin-top: 10px;
        .active{
            border-bottom: 1px solid grey;
        }
      a{
          color: dimgrey;
          font-weight: 600;
      }
    }
}
#slide{
    background: lightgrey;
    height: 500px;
    .container{
        text-align: center;
    }
    img{
        margin-top: 50px;
    }
    span{
        font-size: 40px;
    }
    li{
        text-decoration: none;
    }
}
 #content{
    .bir{
        border-bottom: 1px solid lightgrey;
        height: 200px;
    }
    .iki{
        margin-top: 50px;
        p{
          border: 1px solid grey;
          width: 298px;
          border-top: none;
        }
    }
 }  
 #footer{
     background: #1b1b1b;
     h1,h3,p,i{
          color: wheat;
     }
     i{
         font-size: 20px;
         margin-left: 10px;
     }
     input{
         width: 254px;
         background: #1b1b1b;
         border: 1px solid grey;
         position: relative
     }
     #first{
         border-bottom: 2px dashed grey;
             height: 160px;
     }
 }